<!DOCTYPE html>
<html lang="en">
<head>
    {% include './partials/head.html' %}
</head>
<body>
    {% include './partials/header3.html' %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Share Your Expense Stats</h1>
        </div>
    </section>
    <div class="container">
        <form method="POST" action="{{ url_for('share_stats') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.shared_with_username.label(class="form-label") }}
                {{ form.shared_with_username(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.shared_with_id.label(class="form-label") }}
                {{ form.shared_with_id(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJTY0V7moCLiOJ5boq1STmFQtU5iqwIHdxv7iTM3n5egG5DI+" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIyIhh9fJ8aOtRE6aZh1vYM7ztC+1o+LwlybUQGg" crossorigin="anonymous"></script>
</body>
</html>

